@import "font-awesome.min.css";
body {
  color: #5B2E57;
  background-color: #25282e;
  font-family: 'Lucida Grande', 'Segoe UI', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
#mainContainer {
  display: flex;
  justify-content: space-between;
}
.container {
  height: 500px;
  width: 50%;
  border: 3px solid #7396A0;
}
#rawTextContainer textarea {
  width: 100%;
  min-height: 500px;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
  background-color: #B1C8C2;
  resize: none;
}
#parsedJsonContainer {
  overflow-y: auto;
  background-color: #B1C8C2;
}
#parsedJsonContainer .json-list-item {
  transition: all 0.25s ease-out;
}
#parsedJsonContainer .json-list-item .json-list {
  border-left: 1px dotted #7396A0;
  padding-left: 0.8rem;
  overflow: hidden;
}
#parsedJsonContainer .json-list-item .json-list:first-child {
  margin-top: 0px;
  margin-left: 0px;
}
#parsedJsonContainer .json-list-item .json-list.hover {
  background: #97B1B9;
}
#parsedJsonContainer .json-list-item .array {
  color: #5B2E57;
}
#parsedJsonContainer .json-list-item .property {
  color: #383838;
}
#parsedJsonContainer .json-list-item .object {
  color: #5B5693;
}
#parsedJsonContainer .toggle-section {
  cursor: pointer;
  transition: all 0.25s ease-out;
}
#parsedJsonContainer .toggle-section.up + .json-list-item * {
  height: initial;
}
#parsedJsonContainer .toggle-section.down + .json-list-item * {
  height: 0px;
}
#parsedJsonContainer .toggle-section .fa {
  cursor: pointer;
  margin-right: 5px;
  margin-left: -10px;
  font-size: 1em;
  color: #9C4E3F;
}
#jsonInspectContainer {
  background-color: #B1C8C2;
}
#jsonInspectContainer tbody {
  margin-left: 5px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: none;
  border-collapse: collapse;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
#jsonInspectContainer tbody td {
  border-width: 1px;
  padding: 1px;
  border-style: none;
}
.hidden {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: #9B6A77;
}
::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: #5B2E57;
}
::-webkit-scrollbar-thumb {
  border-radius: 1ex;
}
