@import "font-awesome.min.css";
body {
  color: #5B2E57;
  background-color: #FFFFFF;
  font-family: 'Consolas', 'Monospace', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
#mainContainer {
  display: flex;
  justify-content: space-between;
}
.container {
  height: 500px;
  width: 50%;
  border: 3px solid #EEE;
}
#textEditor textarea {
  width: 100%;
  min-height: 500px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  resize: none;
  font-size: 0.7rem;
  overflow-y: hidden;
}
#textEditor textarea.hover {
  overflow-y: auto;
}
#treeView {
  overflow-y: auto;
  background-color: #FFFFFF;
  overflow-y: hidden;
}
#treeView.hover {
  overflow-y: auto;
}
#treeView .json-list-item {
  transition: all 0.25s ease-out;
}
#treeView .json-list-item .json-list {
  border-left: 1px dotted #EEE;
  padding-left: 0.8rem;
  overflow: hidden;
}
#treeView .json-list-item .json-list:first-child {
  margin-top: 0px;
  margin-left: 0px;
}
#treeView .json-list-item .json-list.hover {
  background: #97B1B9;
}
#treeView .json-list-item .array {
  color: #5B2E57;
}
#treeView .json-list-item .property {
  color: #383838;
}
#treeView .json-list-item .object {
  color: #5B5693;
}
#treeView .toggle-section {
  cursor: pointer;
  transition: all 0.25s ease-out;
}
#treeView .toggle-section.up + .json-list-item * {
  height: initial;
}
#treeView .toggle-section.down + .json-list-item * {
  height: 0px;
}
#treeView .toggle-section .fa {
  cursor: pointer;
  margin-right: 5px;
  margin-left: -10px;
  font-size: 1em;
  color: #9C4E3F;
}
#inspectorContainer {
  background-color: #FFFFFF;
}
#inspectorContainer tbody {
  margin-left: 5px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: none;
  border-collapse: collapse;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
#inspectorContainer tbody td {
  border-width: 1px;
  padding: 1px;
  border-style: none;
}
.hidden {
  display: none;
}
