/* Coolors Exported Palette - coolors.co/1f1f15-d36135-f7f3e3-b3b6b7-3e885b */

$color1: #1f1f15; //rgba(31, 31, 21, 100)
$color2: #d36135; //rgba(211, 97, 53, 100)
$color3: #f7f3e3; //rgba(247, 243, 227, 100)
$color4: #b3b6b7; //rgba(179, 182, 183, 100)
$color5: #3e885b; //rgba(62, 136, 91, 100)